/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Titillium+Web:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background:linear-gradient(to right, #7100ee, #2575fc);
}

.container{
    position: relative;
    max-width: 560px;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%; /* Make sure container is responsive */
    margin: 0 auto; /* Center the container */
}

.container header{
    font-size: 2rem;
    color: #2574fa;
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 20px;
}

.form .input-box{
    width: 100%;
    margin-bottom: 20px;
}

.input-box label{
    color: #333;
    font-weight: 600;
    padding-left: 5px;
}

.form .input-box input, select{
    position: relative;
    height: 48px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 1rem;
    color: #707070;
    margin: 2px;
}

.form .input-box input:focus, select:focus{
    border-color: #2575fc;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.form .column1{
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}

.form .column1 .input-box{
    flex: 1 1 calc(50% - 15px); /* Allow each column to take 50% width minus the gap */
}

.form button{
    height: 55px;
    width: 100%;
    background: #2575fc;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.form button:hover{
    background-color: #6A11CBFF;
}

.container footer{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: #333;
}

.container footer a{
    color: #2575fc;
    text-decoration: none;
}

/* Media Query for smaller screens (e.g., tablets and mobile devices) */
@media (max-width: 768px) {
    .container{
        padding: 15px;
    }

    .container header{
        font-size: 1.8rem;
    }

    .form .input-box input, select {
        font-size: 0.9rem;
    }

    .form .column1 .input-box {
        flex: 1 1 100%;
    }

    .form button {
        font-size: 1.1rem;
    }

    .container footer {
        font-size: 13px;
    }
}

/* Media Query for extra small screens (e.g., mobile phones) */
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .container header {
        font-size: 1.5rem;
    }

    .form .input-box input, select {
        font-size: 0.9rem;
    }

    .form button {
        font-size: 1rem;
    }

    .container footer {
        font-size: 12px;
    }
}